.left_panel_container{
    position: absolute;
    left: 5px;
    width: 40px;
    top: 5px;
    height: 45px;
}
.left_panel_buttons{
    position: absolute;
    border-radius: 36%;
    aspect-ratio: 1;
    left: 0px;
    background-color: rgb(98, 203, 0);
    border: 2px outset white;
    cursor: pointer;
}
button:active {
    border-style: inset;
}
.add_chat_button {
    display: inline-block;
    top: 0%;
    width: 100%;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 10px;
}
.settings_button {
    display: inline-block;
    top: 100%;
    width: 100%;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 10px;
}
.chats_container {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    width: 35%;
    min-width: 220px;
    height: 100%;
    top: 0px;
    left: 50px;
    background-color: rgba(41, 181, 16, 0.342);
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
}
.chat_fon_img {
    position: fixed;
    z-index: -1;
    width: 100%;
    min-height: 100%;
    opacity: 10%;
    bottom: 0px;
}
.chat_button {
    height: 11.111%;
    min-height: 50px;
}
.onmouse_div { 
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border-radius: 12px;
    background-color: rgb(0, 0, 0, 0.03);
    cursor: pointer;
    transition: background-color 0.25s ease;
    transition: border-radius 0.12s ease;
}
.ico_container {
    position: relative;
    height: 100%;
    aspect-ratio: 1;
}
.chat_ico {
    position: absolute;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    border-radius: 50%;
    background-color:blueviolet;
    float: left;
}

.chat_button_text_box {
    position: absolute;
    top: 20%;
    height: 60%;
    left: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.chat_button_time_box {
    position: absolute;
    top: 20%;
    height: 60%;
    right: 14px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.chat_container {
    position: absolute;
    top: 0px;
    height: calc(100% - 50px);
    right: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}
.messages_container {
    display: flex;
    flex-direction: column;
}
.message_box {
    margin: 4px;
    width: 100%;
    display: flex;
}
.my_message, .no_my_message, .notification_message {
    position: relative;
    width: max-content;
    word-break: break-all;
}
.my_message, .no_my_message{
    max-width: 40%;
    padding: 10px;
    font-size: 18px;
}
.my_message {
    right: 2%;
    border-radius: 19px 19px 2px 19px;
    background-color: rgb(255, 255, 255);
}
.no_my_message {
    left: 2%;
    border-radius: 19px 19px 19px 2px;
    background-color: rgb(171, 171, 171);
}.notification_message {
    max-width: 70%;
    padding: 8px;
    margin-top: 12px;
    margin-bottom: 16px;
    font-size: 14px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.2);
}
.chat_text_input_container {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 50px;
    max-height: calc(210px + 30px);
    background-color: white;
    box-shadow: 0 0 50px rgb(255, 150, 0);
    border-top: 2px solid rgba(255, 130, 0, 0.25);
}
.input_box {
    position: absolute;
    left: 15%;
    bottom: 15px;
    width: 70%;
    height: 40%;
    min-height: 20px;
    max-height: 210px;
    border: 0px;
    font-size: 20px;
    outline: 0px solid white;
    resize: none; 
    outline: hidden;
    border-width: 0px;
    background-color: rgb(255, 255, 255);
}
.send_message_button {
    position: absolute;
    right: 10px;
    height: 48px;
    aspect-ratio: 2;
    border: 2px outset white;
    background-color: aqua;
    bottom: 2px;
    border-radius: 5px;
    max-width: 10%;
}