.chats_container {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    width: 35%;
    min-width: 220px;
    height: 100%;
    top: 0px;
    left: 50px;
    background-color: rgba(255, 255, 255, 0.5);
}
.chat_button {
    height: 11.111%;
    min-height: 50px;
    /*
    background-color: aqua;
    */
}
.onmouse_div { 
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border-radius: 12px;
    background-color: rgb(0, 0, 0, 0.03);
    cursor: pointer;
    transition: background-color 0.25s ease;
    transition: border-radius 0.12s ease;
}
.ico_container {
    position: relative;
    height: 100%;
    aspect-ratio: 1;
}
.chat_ico {
    position: absolute;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    border-radius: 50%;
    background-color:blueviolet;
    float: left;
}

.chat_button_text_box {
    position: absolute;
    top: 20%;
    height: 60%;
    left: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.chat_container {
    position: absolute;
    top: 0px;
    height: calc(100% - 50px);
    left: calc(35% + 50px);
    width: calc(100% - 35% - 50px);
    background-color: rgba(41, 181, 16, 0.5);
}
.chat_text_input_container {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 50px;
    max-height: calc(210px + 30px);
    width: calc(100% - 35% - 50px);
    background-color: white;
}
.input_box {
    position: absolute;
    left: 15%;
    bottom: 15px;
    width: 70%;
    height: 40%;
    min-height: 20px;
    max-height: 210px;
    border: 0px;
    font-size: 20px;
    outline: 0px solid white;
    resize: none; 
    outline: hidden;
    border-width: 0px;
    background-color: rgb(255, 255, 255);
}