::placeholder {
    color: var(--msg-input-placeholder-color);
    opacity: 1;
  }
body {
    background-color: var(--chat-color);
    transition: background-color 0.3s;
    color: var(--text_color);
    transition: color 0.3s;
    font-family: Arial;
    overflow: hidden;
}
.left_panel_container{
    position: absolute;
    left: 0;
    width: 50px;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--left-panel-color);
    transition: background-color 0.3s;
}
button:active {
    border-style: inset;
    transform: scale(0.95);
}
.left_panel_buttons{
    margin: 8%;
    border-radius: 36%;
    width: 84%;
    aspect-ratio: 1;
    background-color: var(--left-panel-buttons-color);
    transition: background-color 0.3s;
    color: var(--left-panel-buttons-text-color);
    transition: color 0.3s;
    border: 2px outset var(--left-panel-buttons-text-color);
    cursor: pointer;
    box-shadow: 0 0 8px rgb(0, 0, 0, 0.2);
    font-size: 30px;
    text-align: center;
}
.add_chat_button {
    margin-top: 16%;
}
.middle_container {
    position: absolute;
    width: 35%;
    height: 100%;
    top: 0;
    left: 50px;
}
.chats_container, .settings_container_visible, .settings_container_hidden {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--chats-container-color);
    transition: background-color 0.3s;
}
.chats_container {
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 80px 18px rgba(0, 0, 0, 0.2);
}
.settings_container_hidden, .settings_container_visible {
    border-bottom: 1px solid black;
}
.settings_container_visible {
    top: 0%;
    transition: top 0.5s;
}
.settings_container_hidden {
    top: -101%;
    transition: top 0.3s;
}
.settings_head {
    width: 40%;
    aspect-ratio: 1;
    padding: 30%;
    padding-top: 7%;
    padding-bottom: 4%;
    border-radius: 50%;
}
.settings_main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.settings_row {
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(75, 75, 75);
    font-size: 20px;
    margin: 5px;
}
.settings_row:active {
    box-shadow: 0 0 10px rgb(75, 75, 75);
}
.chat_fon_img {
    position: fixed;
    z-index: -1;
    width: 65%;
    min-height: 100%;
    opacity: 10%;
    bottom: 0px;
}
.chat_button {
    height: calc(12.5% - 20px);
    width: calc(100% - 20px);
    min-height: 50px;
    margin: 10px;
    border-radius: 12px;
    background-color: rgb(0, 0, 0, 0.03);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.chats_container_top {
    position: absolute;
    top: 0;
    right: 0;
    height: 80px;
    background-color: var(--chat-top-info-color);
    transition: background-color 0.3s;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.top_info_container {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
}
.top_text {
    margin-left: 8px;
    font-size: 18px;
}
.chat_container {
    position: absolute;
    top: 80px;
    height: calc(100% - 80px - 2.2% - 60px);
    right: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}
.chat_button_text_container {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    display: flex;
    flex-direction: row;
}
.chat_ico {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color:blueviolet;
}
.chat_button_text_box {
    margin-left: 5px;
    align-self: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
.chat_button_time_box {
    align-self: flex-start;
    position: absolute;
    right: 17px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}
.messages_container {
    display: flex;
    flex-direction: column;
}
.message_box {
    margin: 4px;
    width: 100%;
    display: flex;
}
.my_message, .no_my_message, .notification_message {
    position: relative;
    width: max-content;
    word-break: break-all;
}
.my_message, .no_my_message{
    max-width: 55%;
    padding: 10px;
    font-size: 16px;
}
.my_message {
    right: 2%;
    border-radius: 19px 19px 2px 19px;
    background-color: var(--my-msg-color);
    transition: background-color 0.3s;
}
.no_my_message {
    left: 2%;
    border-radius: 19px 19px 19px 2px;
    background-color: var(--no-my-msg-color);
    transition: background-color 0.3s;
}.notification_message {
    max-width: 70%;
    padding: 8px;
    margin-top: 12px;
    margin-bottom: 16px;
    font-size: 14px;
    border-radius: 15px;
    background-color: rgba(235, 214, 200, 0.5);
}
.chat_text_input_container {
    position: absolute;
    right: 25px;
    bottom: 15px;
    max-height: 240px;
    background-color: var(--msg-input-color);
    transition: background-color 0.3s;
    border-radius: 16px;
    box-shadow: 0px 0 50px rgb(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}
.input_box {
    position: absolute;
    left: 12px;
    width: calc(100% - 12px - 105px - 12px);
    height: 40%;
    min-height: 20px;
    max-height: 210px;
    font-size: 20px;
    outline: 0px solid white;
    resize: none; 
    outline: hidden;
    border-width: 0px;
    background-color: var(--msg-input-color);
    transition: background-color 0.3s;
}
.message_right_buttons {
    position: absolute;
    right: 5px;
    width: 100px;
    display: flex;
    justify-content: end;
}
.smiles_message_button, .send_message_button{
    cursor: pointer;
    height: 47px;
    border-width: 0px;
    font-size: 16px;
}   
.smiles_message_button {
    width: 43%;
    background-color: var(--emoji-button-color);
    transition: background-color 0.3s;
    border-radius: 10px 0px 0px 10px;
    font-size: 22px;
}
.send_message_button {
    width: 57%;
    background-color: var(--send-button-color);
    transition: background-color 0.3s;
    border-radius: 0px 16px 16px 0px;
}

.emojis_menu {
    position: absolute;
    bottom: 10px;
    right: 25px;
    width: 46%;
    aspect-ratio: 1;
    border-radius: 16px;
    visibility: hidden;
    background-color: rgb(255, 255, 255);
}
.emojis_menu:hover {
    visibility: visible;
}
.emoji_layer {
    display: flex;
    flex-direction: row;
    height: 10%;
}
.emoji_button {
    background-color: yellow;
    margin-left: 1%;
    margin-right: 1%;
    width: 8%;
    height: 80%;
    border-radius: 25%;
    font-size: 2.5ch;
    transition: font-size 0.15s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.emoji_button:hover {
    font-size: 3ch;
    transition: font-size 0.25s;
}
